anthropic==0.69.0
chromadb==0.6.3
faiss-cpu==1.9.0
fastapi==0.118.0
google-genai==1.41.0
huggingface_hub==0.35.3
ipykernel==6.30.1
jupyter==1.1.1
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.78
langchain-experimental==0.3.4
langchain-google-genai==2.0.10
langchain-ollama==0.3.10
langchain-openai==0.3.34
langchainhub==0.1.21
langgraph==0.6.8
openai==2.1.0
pypdf==6.1.1
python-dotenv==1.1.1
tiktoken==0.11.0
uvicorn==0.37.0